<div class="page-header text-center" style="background-image: url('{{ 'page-header-bg.jpg' | asset_url }}')">
  <div class="container">
    <h1 class="page-title">
      {{ page_title }}
      <span>{{ shop.name }}</span>
    </h1>
  </div>
</div>
