<div class="container">
  <div class="products-container row">
    {% assign sorted_products = section.settings.featured.products | sort: 'created_at' | reverse %}
    {% for product in sorted_products limit: section.settings.products_per_row %}
      {% render 'product-card', product: product %}
    {% endfor %}
  </div>
</div>

<div class="more-container text-center mt-0 mb-7">
  <a href="{{ routes.all_products_collection_url }}" class="btn btn-outline-dark-3 btn-more">
    <span>more products</span>{% render 'icon-refresh' %}
  </a>
</div>

{% schema %}
{
  "settings": [
    {
      "type": "collection",
      "id": "featured",
      "label": "t:general.featured"
    },
    {
      "type": "range",
      "id": "products_per_row",
      "label": "t:labels.limit",
      "min": 4,
      "max": 12,
      "step": 4,
      "default": 8
    }
  ],
  "presets": [
    {
      "name": "Featured Products"
    }
  ]
}
{% endschema %}
